<section>
  <h2 class="h4">スコア</h2>
  <gp-scores *ngIf="userLoginedIn | async"
              [sectionId]="sectionId">
  </gp-scores>
  <p *ngIf="!(userLoginedIn | async)"
     class="text-center text-muted">
    アカウントの
    <button class="btn btn-outline-success btn-sm" (click)="goToRegister()">
      新規登録
    </button>
    または
    <button class="btn btn-outline-primary btn-sm" (click)="goToLogin()">
      ログイン
    </button>
    をしていただくことで、各テストのスコアを閲覧できるようになります
  </p>
</section>
<hr>
<section>
  <div class="float-right h5" *ngIf="(userLoginedIn | async)">
    <span class="badge badge-danger" *ngIf="wasIncorrect">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      前回間違えたフレーズ
    </span>
  </div>
  <h2 class="h4">フレーズ</h2>
  <gp-phrases-viewer [phrases]="phrases"
     [index]="phraseIdx"
     (indexChange)="updateUrl($event)">
  </gp-phrases-viewer>
  <div class="text-center my-2">
    <gp-section-sound [sectionId]="sectionId"></gp-section-sound>
  </div>
</section>
<hr>
<section>
  <a class="btn btn-primary btn-lg btn-block" [routerLink]="['/practice', sectionId]">
    テストする
  </a>
</section>
