<section class="container">
  <article *ngIf="!isEnd" class="text-center">
    <h1 class="h4 mt-3 mb-2">テスト
      <small class="text-muted">- セクション{{sectionId}}</small>
    </h1>
    <ng-container *ngIf="phrases">
      <div><small>{{phraseIdx + 1}} / {{phrases.length}}</small></div>
      <gp-question [phrase]="currentPhrase"
                  (answered)="next($event)"></gp-question>
    </ng-container>
    <div *ngIf="!phrases" class="text-center my-5">
      <i class="fa fa-spinner fa-pulse fa-fw"></i>
    </div>
  </article>
  <article *ngIf="isEnd">
    <gp-result [phrases]="phrases"
               [scores]="scores"></gp-result>
  </article>
</section>

<!-- only for development -->
<!--<button type="button" (click)="end()">END (only for development)</button>-->
