<div class="bg-faded">
  <div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">{{title}}</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/phrases" routerLinkActive="active">金のフレーズ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">補助単語</a>
          </li>
        </ul>
        <ng-container *ngIf="userLoginedIn">
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;
              {{currentUser.name}} さん
            </button>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <button class="dropdown-item" (click)="logout()">ログアウト</button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!userLoginedIn">
          <a routerLink="/users/login" class="btn btn-outline-primary mx-1">
            ログイン
          </a>
          <a routerLink="/users/register" class="btn btn-outline-success mx-1">
            新規登録
          </a>
        </ng-container>
      </div>
    </nav>
  </div>
</div>
