@import '../../../assets/styles/import';

tr {
  border-bottom-width: 2px;
}

tbody>tr:hover {
  cursor: pointer;
  border-bottom: solid 2px $orange;
}

tbody>tr:active>td {
  background-color: $orange;
}

.incorrect {
  border-left: solid 2px $red;
}
