<section class="container">
  <h1 class="text-center h2 mt-4 mb-3">当アプリケーションについて</h1>
  <p class="mb-1">
    当アプリケーションは、TOEIC対策関連の書籍のベストセラーである、「TOEIC&reg; L&amp;R TEST 出る単特急 金のフレーズ」（通称：「金フレ」）の学習を補助するためのものです。金フレに掲載されている各フレーズを、穴埋め問題として実際に入力しながら学習することができます。解答した問題の正答率は記録されるので、自身の実力や成長度合いを確認し、学習の励みとして頂けたらと思います。全1000フレーズは、約30分で行える50フレーズごとのセクションに分けられていますので、日々の学習の目安としてください。
  </p>
  <p class="mb-2">
    <b>引用元の書籍である「TOEIC&reg; L&amp;R TEST 出る単特急 金のフレーズ」では、当アプリケーションで引用させていただいた1000フレーズ以外にも、TOEIC対策の要となる以下のコンテンツが掲載されています。
    </b>
  </p>
  <ul>
    <li>パート1重要語</li>
    <li>部署・職業名</li>
    <li>前置詞・接続詞・接続副詞</li>
    <li>多義語</li>
    <li>定型表現</li>
  </ul>

  <article class="card">
    <div class="card-block">
      <h2 class="text-center h3">TOEIC&reg; L&amp;R TEST 出る単特急 金のフレーズ</h2>
      <div class="text-center my-3">
        <img src="/assets/images/front-cover.jpg" alt="TOEIC L&R 出る単特急 金のフレーズ 表紙">
      </div>
      <p>
        2012年3月発売の前作、累計40万部のベストセラーである「新TOEIC&reg; TEST 出る単特急 金のフレーズ」を新形式に対応させた大改訂版。著者であるTEX加藤氏は、2011・12・13年のTOEIC公開テスト全26回、全て満点。2016年5月の新形式移行後も満点を連続取得している。TEX加藤氏は全ての公式教材に加え、80回以上の受験直後に書き留めた「TEXファイル」と呼ばれるデータベースから頻出語を徹底分析しており、それに基づく出題予想の正確度から圧倒的な支持を得ている。点数アップへ直接結びつけるための、真の「TOEIC対策」として欠かすことのできない一冊。
      </p>
      <ul>
        <li>
          Amazon:
          <a href="https://www.amazon.co.jp/exec/obidos/ASIN/4023315680" target="_blank">
          TOEIC L & R TEST 出る単特急 金のフレーズ (TOEIC TEST 特急シリーズ) | TEX加藤 |本 | 通販 | Amazon
          </a>
        </li>
        <li>
          楽天ブックス:
          <a href="https://books.rakuten.co.jp/rb/14583436/" target="_blank">
            楽天ブックス: TOEIC L＆R TEST でる単特急 金のフレーズ 改訂版 - 出る単特急金のフレーズ - TEX加藤 - 9784023315686 : 本
          </a>
        </li>
      </ul>
    </div>
  </article>
</section>
